
NEXT_PUBLIC_SUPABASE_URL=https://bxybenfsenafildrevew.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4eWJlbmZzZW5hZmlsZHJldmV3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIyMzU5MDAsImV4cCI6MjA2NzgxMTkwMH0.OIKBo19u83sSrE8WyFFinT7bIiGNT3O1qAWjvOP5E6k
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4eWJlbmZzZW5hZmlsZHJldmV3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MjIzNTkwMCwiZXhwIjoyMDY3ODExOTAwfQ.ovhLpM0c8B6nI8qtjJWxlRtZNJ1Qfc950_0MhDD0SsI
SUPABASE_ACCESS_TOKEN=t5Fnv4w/CsfMHYK8jHIF6iRQ1wXEl636O5k42fcQovio6yisyIMj1TTOIeBvEpB/EAEiMRVhXS5ogHZgkyyQUg==

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Rjh7BQwAnCe8O5mIMirTNDY1dGG0m0bAoCQ74FPHHeY2p6JxTEphBseriIFTL5dX20jWyQe6J0OrkO1K2AX8vrx005nvdL63Y
STRIPE_SECRET_KEY=sk_test_51Rjh7BQwAnCe8O5mGUPywxZKAn2Xa8aMRA8LMean9sHZ2TYgvxzoSrMPlkAjN1tgWrjvzwenh1nl0gV6Y8lxRdA400kCBQOBTD
STRIPE_WEBHOOK_SECRET=whsec_0b34fe90d54c5b618f2c166236205ceeba8475e7b5eddd20cb4c2cdea7c12557

# Resend (Opcional, para emails)
# Vá em API Keys no seu painel Resend
RESEND_API_KEY=sua_chave_resend